---
import PlateCard from "./PlateCard.astro";
const { section , idReference } = Astro.props;
import { obtenerProductos } from "../lib/api.js";

const productos = await obtenerProductos();
---

<div class="menu-section-container">
  <h1 class="tittle-menu-section" id={idReference}>{section}</h1>
  <div class="plate-cards-container">
    {
      productos.map((p: any) => (
        <PlateCard
          name={p.nombre}
          amount={p.cantidad ?? 1}
        img={p.url_imagen ? `http://localhost:3000${p.url_imagen}` : "/src/assets/img/sushi.webp"}
          producto={p}
        />
      ))
    }
  </div>
</div>
